<b>Version 2.3.1-beta 03/11/2021</b>

<ul>
    <li>Rebuilt to restore MacOS 10.14.x functionality</li>
    <li>Add highlighting feature to outline high percentile data points</li>
    <li>Change wind display to m/s (used to be km/h)</li>
    <li>Fix filters not applying properly</li>
</ul>